---
title: Archive of All Opinion Stories
layout: default
---

<!-- MailChimp -->
{% include email.html %}

<h1 style="text-align: center;">Archive of All Opinions News</h1>

<div class="posts">
   
  {% for post in site.posts %}
  <article class="post">
      <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}:
      <span class="post-small">{{ post.description }}</span></a>
    </h2>

    <div class="post-date">
      <time datetime="{% if post.last_modified %}{{ post.last_modified | date_to_xmlschema }}{% endif %}">
        {{ post.date | date: "%-m/%-d/%Y" }} 
      </time>
      {% if post.last_modified %}<small><em>Updated: {{ post.last_modified | date: "%m/%d/%Y %r %Z"}} 
    </em></small>{% endif %}
          
	
  </article>
  {% endfor %} 
</div> 