<footer class="footer">
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/about">About</a></li>
	<li><a href="{{ site.baseurl }}/CONTRIBUTING">Get Involved</a></li>
    <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>     
    <li><a href="{{ site.baseurl }}/license">License</a></li>
	<li><a href ="{{ site.baseurl }}/privacy">Privacy</a></li>
    
  </ul>
  {% include copyright.html %}
</footer>
  {% include algolia.html %}
  {% include js.html %}
  



</body>
</html>
